source https://www.nuget.org/api/v2
framework: net461

nuget Dragablz
nuget FSharp.Control.Reactive
nuget FSharp.Core
nuget FsXaml.Wpf
nuget gong-wpf-dragdrop
nuget MaterialDesignThemes
nuget ReactiveProperty
nuget ReactiveUI
nuget System.Reactive.Compatibility

nuget System.ValueTuple

group Test
    source https://www.nuget.org/api/v2
    framework: net461

    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio
    nuget Unquote