source https://www.nuget.org/api/v2
framework: net461

nuget FSharp.Core
nuget FsXaml.Wpf
nuget ReactiveUI prerelease
nuget System.ValueTuple 4.3.1

group Build
    source https://www.nuget.org/api/v2

    nuget FAKE

group Test
    source https://www.nuget.org/api/v2

    nuget xunit
    nuget xunit.runner.visualstudio
    nuget Unquote
