source https://www.nuget.org/api/v2
framework: net472

nuget Dragablz
nuget DynamicData
nuget FSharp.Control.Reactive
nuget FSharp.Core < 4.7
nuget FsXaml.Wpf
nuget gong-wpf-dragdrop
nuget MaterialDesignThemes
nuget ReactiveProperty
nuget ReactiveUI < 9
nuget Splat < 7

nuget System.ValueTuple

group Test
    source https://www.nuget.org/api/v2
    framework: net472

    nuget FSharp.Core < 4.7
    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio
    nuget Unquote